* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    grid-template-columns: 1fr;
    gap: 20px;
}

header { grid-area: header; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

@media (min-width: 768px) {
    .container {
        grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
        grid-template-columns: 2fr 1fr;
    }
}

.navbar ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    background: #eee;
    padding: 15px;
    text-align: center;
    background-color: brown;
}

main {
    background: #f9f9f9;
    padding: 15px;
    background-color: tomato;
}

aside {
    background: #ddd;
    padding: 15px;
    background-color: coral;
}

footer {
    background: #ccc;
    padding: 10px;
    text-align: center;
    background-color: brown;
}

img {
    max-width: 100%;
}